@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
@import "css/nord.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font
$sans: "Inter", sans-serif;

body {
  background-color: $nord6;
  color: $nord0;
  font-family: $sans;
}

.text {
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;

  .text__title {
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .text__description {
    color: $nord3;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .text__example {
    color: $nord3;
    font-weight: 300;
    font-style: italic;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "winput" "wbtn" "rinput" "rbtn";
  place-items: center;
  row-gap: 1rem;

  input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid $nord4;
    outline: none;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  #working-time {
    grid-area: winput;
  }

  #resting-time {
    grid-area: rinput;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.15);
    transition: ease-in-out 0.2s;
  }

  input:focus::placeholder {
    color: transparent;
  }

  .btn {
    padding: 1em 2em;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: $nord5;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .btn:active {
    opacity: 0.6;
  }

  .btn--working {
    grid-area: wbtn;
    background-color: $nord3;
    margin-bottom: 2rem;
  }

  .btn--resting {
    grid-area: rbtn;
    background-color: $nord8;
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "winput rinput" "wbtn rbtn";
    column-gap: 2rem;

    .btn--working {
      margin-bottom: auto;
    }
  }
}
